# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]

[include macro.cfg]

;[filament_switch_sensor sensor_switch]
;switch_pin: PC12
;pause_on_runout: False
;event_delay: 15.0
;#pause_delay: 0.5
;runout_gcode:
;  PAUSE # [pause_resume] is required in printer.cfg
;  M117 Filament switch runout
;insert_gcode:
;  M117 Filament switch inserted

;[filament_motion_sensor sensor_encoder]

;switch_pin: PC15
;extruder: extruder
;detection_length: 5.88 #2.88
;pause_on_runout: False
;event_delay: 15.0
;#pause_delay: 0.5
;runout_gcode:
;  PAUSE # [pause_resume] is required in printer.cfg
;  M117 Filament encoder runout
;insert_gcode:
;  M117 Filament encoder inserted


;[gcode_macro START_PRINT]
;description: Start the actual running print
;gcode:
;  G92 E0 ; Reset Extruder
;  {% set BED_TEMP = params.BED_TEMP|default(100)|float %}
;  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(245)|float %}
;  M140 S{BED_TEMP} ;Start heating bed
;  G28 ; Home all axes
;  M190 S{BED_TEMP} ;Wait for bed to reach temp before proceeding
;  M104 S{EXTRUDER_TEMP} ;Start heating extruder
;  BED_MESH_CALIBRATE ; Auto bed leveling
;  G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
;  G1 X0.1 Y20 Z5.0 F5000.0 ; Move to start position
;  M109 S{EXTRUDER_TEMP} ;Wait for extruder to reach temp before proceeding


# Left Tower 
# Port X
[stepper_a]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
;step_distance: .0125
endstop_pin: PC0
position_endstop: 520
homing_speed: 200
microsteps: 16
rotation_distance: 40
#rotation_distance: 32 20.05892308656679
arm_length: 397.1900

# Right Tower 
# Port Y
[stepper_b]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
;step_distance: .0125
endstop_pin: PC1
position_endstop: 520
homing_speed: 200
microsteps: 16
rotation_distance: 40
arm_length: 397.1900

# Back Tower 
# Port Z
[stepper_c]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
;step_distance: .0125
endstop_pin: PC2
position_endstop: 520
homing_speed: 200
microsteps: 16
rotation_distance: 40
arm_length: 397.1900

[tmc2209 stepper_a]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.800
stealthchop_threshold: 0



[tmc2209 stepper_b]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.800
stealthchop_threshold: 0



[tmc2209 stepper_c]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.800
stealthchop_threshold: 0



[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 7.710843373493976
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.600
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 150

[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_140025001450415833323520-if00

[printer]
kinematics: delta
max_velocity: 666
max_accel: 2500
max_z_velocity: 666
minimum_z_position: -20
delta_radius = 159.53
#print_radius: 159.53
#159.53 157.684972
#Increase Buffer For Smoother printing
#buffer_time_high: 10

[delta_calibrate]
radius: 140
speed: 100
horizontal_move_z: 10

########################################
# BL Touch/Bed Levelling
########################################


[bltouch]
sensor_pin: ^PC14
control_pin: PA1
#pin_move_time: 0.680
stow_on_each_sample: True
x_offset: 0.0
y_offset: 25.5
#z_offset: 1.015 # Uncomment if starting fresh; Distance should be enough to keep the z-offset positive.
speed: 25.0
samples: 3
sample_retract_dist: 10.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 10

[bed_mesh]
speed: 50
horizontal_move_z: 10
mesh_radius: 132
mesh_origin: 0, 0
round_probe_count: 5 #13
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.989
#*# pid_ki = 1.247
#*# pid_kd = 1127.649
#*#
#*# [bltouch]
#*# z_offset = 1.402
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -5.028266, -5.028266, -5.028266, -5.028266, -5.028266
#*# 	  -0.527920, -0.527920, 0.610781, 0.501247, 0.501247
#*# 	  -4.670365, 0.682758, 2.163929, 1.941091, -1.766199
#*# 	  0.387634, 0.387634, 1.937738, 1.950134, 1.950134
#*# 	  -1.015905, -1.015905, -1.015905, -1.015905, -1.015905
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = -132.01
#*# max_x = 132.01
#*# min_y = -132.0
#*# max_y = 132.0
